@tailwind base;
@tailwind components;
@tailwind utilities;

.gutter {
    background-color: rgba(238, 238, 238, 0.24);
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
.EasyMDEContainer,
.CodeMirror {
    min-height: 90vh;
}

.CodeMirror,
.CodeMirror-scroll {
    min-height: 90vhpx;
}

.editor-statusbar {
    display: none;
}